/* header */
div.head {
    width: 100%;
    height: 169px;
    background-color: #272727;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    row-gap: 18%;
    align-items: center;

    .h_logo {
        height: 100px;
        margin-top: 10px;
    }

    .h_list {
        width: 90%;
        height: 100px;

        ul {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-evenly;
            align-items: center;

            li {
                list-style: none;
                box-sizing: border-box;
                transition: 0.3s all linear;
                position: relative;

                a {
                    color: #87A9B4;
                    text-decoration: none;
                    font-size: large;

                    &:hover {
                        color: #FFFFF1;
                    }
                }

                ul.factory {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    width: 190px;
                    height: fit-content;
                    background-color: #272727;
                    position: absolute;
                    right: -20px;
                    transition: 0.35s all linear;
                    transform: scaley(0);
                    transform-origin: top;

                    li {
                        margin-right: 20px;
                        padding: 10px 0;
                        border-left: none;

                        a {
                            border-left: none;
                        }
                    }
                }

                ul.product {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    width: 190px;
                    height: fit-content;
                    background-color: #272727;
                    position: absolute;
                    right: -20px;
                    transition: 0.35s all linear;
                    transform: scaley(0);
                    transform-origin: top;

                    li {
                        margin-right: 20px;
                        padding: 10px 0;
                        border-left: none;

                        a {
                            border-left: none;
                        }
                    }
                }

                ul.blog {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    width: 190px;
                    height: fit-content;
                    background-color: #272727;
                    position: absolute;
                    right: -20px;
                    transition: 0.35s all linear;
                    transform: scaley(0);
                    transform-origin: top;

                    li {
                        margin-right: 20px;
                        padding: 10px 0;
                        border-left: none;

                        a {
                            border-left: none;
                        }
                    }
                }

                ul.contact {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    width: 190px;
                    height: fit-content;
                    background-color: #272727;
                    position: absolute;
                    right: -20px;
                    transition: 0.35s all linear;
                    transform: scaley(0);
                    transform-origin: top;

                    li {
                        margin-right: 20px;
                        padding: 10px 0;
                        border-left: none;

                        a {
                            border-left: none;
                        }
                    }
                }
            }
        }
    }

}

#en {
    border-left: none;
}

div.head>div.h_list>nav>ul>li:hover ul {
    transform: scaley(1);
}

div.bottom {
    position: relative;
    top: 170px;
    background-color: #E0E0E0;
    width: 100%;
    height: 395px;
    display: flex;
    justify-content: space-evenly;

    .container {
        width: 100%;
        height: inherit;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;

        .right {
            .matn {
                display: flex;
                flex-flow: column nowrap;

                .title {
                    color: red;
                    font-size: xxx-large;
                    margin-bottom: 5px;
                }

                .text {
                    color: #002021;
                    font-size: x-large;
                }
            }
        }
    }
}

/* main */
div.warper {
    margin-top: 75px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-grow: row nowrap;
    justify-content: space-evenly;
    align-content: flex-start;

    .info {
        width: 80%;
        height: fit-content;

        .explain-t p {
            font-size: x-large;
            font-weight: bolder;
            color: red;
            margin-bottom: 20px;
            display: block;
        }

        .explain-m {
            font-size: large;
            color: #818588;
            line-height: 40px;

            p {
                display: inline-block;
            }

            #golestan {
                color: red;
                font-weight: bolder;
                padding-right: 2px;
            }
        }
    }
}

div.m_tea {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    .m_t_w {
        display: flex;
        justify-content: space-between;
        width: 80%;

        .m_t_r {
            position: relative;
            top: -10px;
        }

        .m_t_l {
            position: relative;
            right: 40px;
            display: inline-block;

            .m_h {
                display: flex;
                flex-direction: row nowrap;
                align-items: center;
                border-bottom: 1px solid #818588;
                position: relative;

                .icon {
                    position: relative;
                    top: -15px;
                }

                .m_h_e {
                    font-size: 25px;
                    font-weight: bolder;
                    position: relative;
                    right: 15px;
                    color: red;

                }

            }

            .m_w {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-between;
                align-items: center;
                height: 55px;
                font-size: 20px;
                border-bottom: #818588 1px solid;

                .m_w_r {
                    margin-right: 15px;
                }

                .m_w_l {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .img {
                        width: 46px;
                        height: 45px;
                        margin-left: 10px;
                        overflow: hidden;
                        background-color: black;
                    }

                    #img {
                        margin-left: 0;
                    }
                }
            }
        }
    }

    .m_b {
        font-size: large;
        color: #818588;
        margin-right: 10px;
        margin-top: 10px;

        p {
            line-height: 30px;
            word-spacing: 10px;
            letter-spacing: 1px;
        }

    }

    .m_buy {
        margin-top: 50px;
        margin-right: 5px;

        input {
            width: 130px;
            height: 40px;
            background-color: transparent;
            border: #818588 solid 1px;
            border-radius: 10px;
            color: #818588;
            font-size: large;
            transition: 0.3s all linear;

            &:hover {
                background-color: #ED1C24;
                color: white;
                cursor: pointer;
            }
        }
    }

}

/* footer */
.f_media {
    position: relative;
    width: 100%;
    height: 98px;
    background-color: #EEEFEF;

    .f_m_fa {
        height: inherit;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        column-gap: 100px;
        align-items: center;

        a>i {
            font-size: 49px;
            text-decoration: none;
            color: #B8B8B8;
            transition: 0.2s all linear;

            &:hover {
                color: blue;
            }
        }
    }

}


.f_warper {
    width: 100%;
    height: 25px;
    background-color: #ED1C24;
}

.f_content_bg {
    width: 100%;
    height: 600px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .f_content_body {
        width: inherit;
        height: fit-content;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 auto;

        .f_1,
        .f_2,
        .f_3,
        .f_4 {
            height: fit-content;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;

            .f_pic {
                width: 100px;
                height: 100px;
            }

            .f_title {
                width: 120px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                border-top: #B8B8B8 1px solid;
                border-bottom: #B8B8B8 1px solid;
                margin-bottom: 20px;


                p {
                    color: #E0E0E0;
                    font-size: 20px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    box-sizing: border-box;
                }

            }

            ul {
                .f_r {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 120px;
                    row-gap: 5px;

                    li {
                        list-style: none;

                        a {
                            font-size: 17px;
                            text-decoration: none;
                            color: #87A9B4;
                            transition: 0.2s all linear;

                            &:hover {
                                color: #E0E0E0;
                            }
                        }
                    }
                }
            }
        }

        .f_2 {

            ul {
                .f_center1 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 120px;
                    row-gap: 5px;
                }

                li {
                    list-style: none;

                    a {
                        font-size: 17px;
                        text-decoration: none;
                        color: #87A9B4;
                        transition: 0.2s all linear;

                        &:hover {
                            color: #E0E0E0;
                        }
                    }
                }

            }
        }

        .f_3 {

            ul {
                .f_center2 {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 120px;
                    row-gap: 5px;
                }

                li {
                    list-style: none;

                    a {
                        font-size: 17px;
                        text-decoration: none;
                        color: #87A9B4;
                        transition: 0.2s all linear;

                        &:hover {
                            color: #E0E0E0;
                        }
                    }
                }

            }
        }

        .f_4 {

            ul {
                .f_left {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    justify-content: flex-start;
                    align-items: flex-start;
                    width: 120px;
                    row-gap: 5px;
                }

                li {
                    list-style: none;

                    a {
                        font-size: 17px;
                        text-decoration: none;
                        color: #87A9B4;
                        transition: 0.2s all linear;

                        &:hover {
                            color: #E0E0E0;
                        }
                    }
                }

            }
        }

    }

}

.all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;

    p {
        font-size: 18px;
        color: #87A9B4;
    }
}

/* go to first */
.first {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, .4);
    text-align: center;
    position: fixed;
    bottom: 30px;
    left: 20px;
    border-radius: 2px;
    transition: all linear 0.3s;
    text-decoration: none;

    &:hover {
        background-color: rgba(0, 0, 0, .6);
    }

    p {
        position: relative;
        line-height: 49px;
        font-size: xx-large;
        font-weight: bolder;
        color: white;
    }
}

html,
body {
    scroll-behavior: smooth;
}