@font-face {
    font-family: 'Golestan';
    src: url('../font/eicons.woff2');
    src: url('../font/eicons.woff');
    src: url('../font/eicons.ttf');
}

:root {
    --fnt: 'Golestan';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fnt);
}